<!DOCTYPE html>
<html data-theme="winter2" class="scroll-smooth">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		{{ block "title" . }}
		{{ .Site.Title }}
		{{end}}
	</title>
	{{ $style := resources.Get "style.css" | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
	</style>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<!--	<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script> -->
</head>

<body class="min-h-screen flex lg:flex-row flex-col">
	{{partial "partials/navbar.html" . }}
	<main class="lg:pl-72 w-full lg:text-left text-center lowercase">
		{{block "main" . }}
		{{end}}
	</main>
</body>

</html>