{{define "main" }}
<section class="min-h-screen flex flex-col lg:items-start items-center justify-center lg:p-8 border-b" id="about">
  <h1 class="text-7xl text-neutral mb-4">{{.Site.Params.firstName}} <span class="text-base-content">{{
      .Site.Params.lastName}}</span>
  </h1>
  <a class="text-2xl text-base-content hover:text-warning transition" {{printf "href=mailto:%s" .Site.Params.email |
    safeHTMLAttr}}>{{
    .Site.Params.email}}</a>
  <div class="mt-8 flex flex-row gap-x-6 sm:gap-x-8">
    {{range site.Params.handles}}
    <a target="_blank" class="btn w-12 h-12 sm:w-14 sm:h-14 btn-square btn-base-100" href={{.link}}>
      <img height="32" width="32" src={{printf "/%s.svg" .icon}}>
      </img>
    </a>
    {{end}}
  </div>
</section>
<section class="min-h-screen flex flex-col lg:items-start items-center justify-center lg:p-8 border-b" id="skills">
  <h2 class="text-6xl text-neutral mb-4">skills</h2>
  {{$architecture := .Site.Params.skills.architecture }}
  {{$languages := .Site.Params.skills.languages }}
  {{$cloud := .Site.Params.skills.cloud }}

  <h3 class="text-4xl text-base-content my-4">
    architecture & concepts
  </h3>
  <ul class="text-2xl">
    {{range $architecture}}
    <li class="flex flex-row gap-x-2 justify-between lg:justify-start">
      <img height="24" width="24" src={{printf "/%s.svg" .icon }} />
      {{.name}}
    </li>
    {{end}}
  </ul>

  <h3 class="text-4xl text-base-content my-4">
    languages, operating systems & dev tools
  </h3>
  <ul class="text-2xl">
    {{range $languages}}
    <li class="flex flex-row gap-x-2 justify-between lg:justify-start">
      <img height="24" width="24" src={{printf "/%s.svg" .icon }} />
      {{.name}}
    </li>
    {{end}}
  </ul>

  <h3 class="text-4xl text-base-content my-4">
    platform, container & cloud administration
  </h3>
  <ul class="text-2xl">
    {{range $cloud}}
    <li class="flex flex-row gap-x-2 justify-between lg:justify-start">
      <img height="24" width="24" src={{printf "/%s.svg" .icon }} />
      {{.name}}
    </li>
    {{end}}
  </ul>
</section>
<section class="min-h-screen flex flex-col lg:items-start items-center justify-center lg:p-8 border-b" id="education">
  <h2 class="text-6xl text-neutral mb-4">education</h2>
  <ul class="w-full">
    {{range .Site.Params.education}}
    <li class="flex flex-col lg:flex-row items-center justify-center lg:justify-between">
      <div class="max-w-160">
        <h3 class="text-4xl">{{.name}}</h3>
        <h4 class="text-3xl">{{.field}}</h4>
      </div>
      <h4 class="text-2xl font-bold">{{.start}}-{{.end}}</h4>
    </li>
    {{end}}
  </ul>
</section>
<section class="min-h-screen flex flex-col lg:items-start items-center justify-center lg:p-8 border-b" id="creations">
  <h2 class="text-6xl text-neutral mb-4">creations</h2>
</section>
<section class="min-h-screen flex flex-col lg:items-start items-center justify-center lg:p-8 border-b" id="experience">
  <h2 class="text-6xl text-neutral mb-4">experience</h2>
</section>
{{end}}