<nav
	class="text-center sticky top-0 z-50 lg:fixed text-base-content h-screen lg:w-72 w-full lg:min-h-full max-h-16 bg-neutral flex flex-col lg:justify-center">
	<section x-data="{ open: false }" class="flex flex-col justify-center items-center lg:pl-0 h-full max-h-16">
		<label class="lg:hidden btn btn-square swap swap-rotate">
			<input x-on:click="open = ! open" type="checkbox" />
			<svg class="swap-off fill-neutral" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
				viewBox="0 0 512 512">
				<path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"></path>
			</svg>
			<svg class="swap-on fill-neutral" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
				<polygon
					points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49">
				</polygon>
			</svg>
		</label>
		<section :class="open ? '' : 'hidden'"
			class="absolute top-10 lg:pl-0 z-49 w-full bg-neutral lg:flex flex flex-col lg:h-full lg:justify-center mt-4 space-y-2 text-3xl decoration-4">
			</div>
			<div class="lg:block hidden avatar mb-10">
				<div class="border-12 border-base-content w-48 mx-auto rounded-full">
					<img src="pfp.png" />
				</div>
			</div>
			{{ range site.Menus.main }}
			<a href={{.PageRef}} class="my-2 hover:text-info">{{lower .Name}}</a>
			{{ end }}
		</section>
	</section>
</nav>